body{
	
}

h1{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

#map{
	background-color: rgba(135,206,250, 0.5);
	stroke:#000;
	stroke-width: 0.2;
}

#map svg {
    display:block;
    margin:0 auto;
}

#slidecontainer {
    width: 100%;
    margin-top: -7px;
}

.slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%; 
    height: 10px; 
    background: #d0d0d0; 
    outline: none;
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}