html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

#mapContainer {
	position: absolute;
	width: 65%;
	height: 100%;
	border-right: 1px solid #d7d7d7;
}

#control-container {
	width: 100%;
	height: 10%;
	background-color: rgba(24, 26, 28, 0.9);
	position: absolute;
	z-index: 3;
}

#season-container {
	float: left;
	width: 40%;
	height: 100%;
}

#season-container-txt {
	height: 100%;
	float: left;
	width: 30%;
	text-align: center;
	display: table;
	color: white;
}

#season-container-txt span {
	display: table-cell;
	vertical-align: middle;
	text-decoration: underline;
}

#formulaire {
	display: table;
	color: white;
	height: 100%;
	vertical-align: middle;
	width: 70%;
	margin-left: 30%;
}

#season_form {
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
}

.radio-label {
	display: inline-block;
    vertical-align: middle;
    margin-right: 1.5%;
}

.radio-input {
	margin-left:0%;
	display: inline-block;
    vertical-align: middle;
}

#slider-container {
	width: 60%;
	height: 100%;
	margin-left: 40%;
}

#year-container {
	display: table;
	width: 41.66667%;
	height: 100%;
	float: left;
}

#year-container span {
	text-align: right;
	padding-right: 10%;
	color: white;
	display: table-cell;
	vertical-align: middle;	
}

.txt-input {
	color: white;
	height: 17.5px;
	width: 80px;
	margin-left: 2.5%;
	background-color: rgba(24, 26, 28, 0.5);
	border-radius: 2.5px;
}

#play {
	margin-left: 5%;
}

#slider-box {
	height: 100%;
	width: 58.333%;
	margin-left: 41.6667%;
}

.slider {
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	-webkit-appearance: none;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin-top: 2.5%;
}

output {
	padding-left: 5px;
	color: white;
  	display: block;
  	margin-top: 0px auto;
  	font-size:0.85em;
}

#span1850 {
	text-align: left;
	float: left;
	width: 50%;
	font-size: .75em;
	color: white;
	padding-top: 1%;
}

#span2012 {
	padding-top: 1%;
	text-align: right;
	width: 50%;
	margin-left: 50%;
	font-size: .75em;
	color: white;
}

#year {
	font-size: 0.85em;
	color: white;
	float: left;
}

#sidebar {
	position: absolute;
	width: 35%;
	margin-left: 65%;
	height: 100%;
	background-color: rgb(242, 242, 242);
}

#chart1 {
	width: 95%;
	margin-top: 23%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
	height: 40%;
	background-color: white;
	border: 1px solid #d7d7d7;
}

#chart1 h5 {
	text-align: center;
}

#chart2{
	width: 95%;
	margin: 2.5%;
	height: 40%;
	background-color: white;
	border: 1px solid #d7d7d7;
}

#chart2 h5 {
	text-align: center;
}

.background {
  	fill: rgba(135,206,250, 0.5);
  	pointer-events: all;
}

svg {
	max-width: 100%;
	max-height: 100%;
}

#map g{
	stroke:#000;
	stroke-width: 0.15;
}

div.tooltip {	
	color: white;
    position: absolute;			
    text-align: center;	
    padding: 10px;				
    font: 12px sans-serif;		
    background: rgba(0, 0, 0, 0.8);	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

#path_graph { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.grid line {
	stroke: lightgrey;
	stroke-opacity: 0.7;
	shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

#plot1 {
	width: 100%;
	height: 100%;
}

svg#ww_graph {
	max-width: 100%;
	max-height: 100%;
	background-color: red;
}