body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#mapContainer {
	position: relative;
	width: 100%;
	height: 100%;
}

#map {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}

.rect {
    background-color: rgba(135, 206, 250, 0.3);
}

#map g{
	stroke:#000;
	stroke-width: 0.15;
}

svg #map {
	background-color: rgba(135, 206, 250, 0.5);
}

#container1 {
	float: left;
	position: relative;
	top: -33%;
	height: 33%;
	width: 25%;
	background-color: rgba(169, 169, 169, 0.9);
}

input {

}

#container2 {
	width: 75%;
	padding-left: 25%;
	position: relative;
	top: -10%;
	height: 10%;
	background-color: rgba(169, 169, 169, 0.8);
}

.slider {
	-webkit-appearance: none;
	margin-left: 10%;
	margin-top: 3%;
	width: 80%;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 12px;
	height: 12px;
	border-radius: 50%; 
	background: #000;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #000;
	cursor: pointer;
	}

#play {
	background: #000;
	border-radius: 3px;
	border: none;
	color: white;
	height: 15px;
	/*margin: 0;
	padding: 0 12px;
	width: 60px;
	cursor: pointer;
	height: 30px;*/
}

#play:hover {
	background-color: #696969;
}    